<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQ4mFLjCJD2wDPnp-JyCsn3T2-qq9dYbU</string>
	<key>GCM_SENDER_ID</key>
	<string>609183418542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pallax.paninoMaker</string>
	<key>PROJECT_ID</key>
	<string>paninomaker</string>
	<key>STORAGE_BUCKET</key>
	<string>paninomaker.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609183418542:ios:8b080111cf2a1380ef853f</string>
</dict>
</plist>